# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env
.webui_secret_key

# IDE specific files
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db
/.venv
